In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
alc = pd.read_csv('data.csv',sep=',', encoding='latin1', decimal=".")

In [3]:
alc = alc[['Location', 'Dim1', 'FactValueNumeric']]
alc_fem = alc.query('Dim1 == "Female"')
alc_male = alc.query('Dim1 == "Male"')

In [4]:
percentile = np.arange(0, 1, 0.01)
percentile

array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99])

In [5]:
fem_perc = alc_fem['FactValueNumeric'].quantile(percentile)
fem_perc = pd.DataFrame(fem_perc)
fem_perc

      FactValueNumeric
0.00             0.800
0.01             1.340
0.02             1.728
0.03             2.564
0.04             3.000
...                ...
0.95            26.900
0.96            27.244
0.97            28.512
0.98            31.096
0.99            31.756

[100 rows x 1 columns]

In [6]:
alc_fem.shape[0]
#80/30
#27/185

189

In [7]:
alc_fem[alc_fem['FactValueNumeric'] < 2.6]

              Location    Dim1  FactValueNumeric
0               Kuwait  Female               0.8
1           Bangladesh  Female               0.9
2    Brunei Darussalam  Female               1.4
3              Somalia  Female               1.5
4               Bhutan  Female               1.8
140              Niger  Female               2.5

In [8]:
arr_fem_perc = []
for index, row in fem_perc.iterrows():
    obj = {
    'quantil': int(row.name * 100),
    'valor': round(row.FactValueNumeric, 3)
    }

    arr_fem_perc.append(obj)

In [9]:
arr_fem_perc

[{'quantil': 0, 'valor': 0.8},
 {'quantil': 1, 'valor': 1.34},
 {'quantil': 2, 'valor': 1.728},
 {'quantil': 3, 'valor': 2.564},
 {'quantil': 4, 'valor': 3.0},
 {'quantil': 5, 'valor': 3.34},
 {'quantil': 6, 'valor': 3.5},
 {'quantil': 7, 'valor': 3.516},
 {'quantil': 8, 'valor': 3.78},
 {'quantil': 9, 'valor': 5.7},
 {'quantil': 10, 'valor': 6.84},
 {'quantil': 11, 'valor': 7.168},
 {'quantil': 12, 'valor': 7.424},
 {'quantil': 13, 'valor': 7.864},
 {'quantil': 14, 'valor': 9.0},
 {'quantil': 15, 'valor': 9.1},
 {'quantil': 16, 'valor': 9.316},
 {'quantil': 17, 'valor': 9.692},
 {'quantil': 18, 'valor': 10.084},
 {'quantil': 19, 'valor': 10.172},
 {'quantil': 20, 'valor': 10.54},
 {'quantil': 21, 'valor': 11.292},
 {'quantil': 22, 'valor': 11.536},
 {'quantil': 23, 'valor': 11.8},
 {'quantil': 24, 'valor': 12.0},
 {'quantil': 25, 'valor': 12.2},
 {'quantil': 26, 'valor': 12.388},
 {'quantil': 27, 'valor': 12.6},
 {'quantil': 28, 'valor': 12.828},
 {'quantil': 28, 'valor': 13.004},
 {'quantil': 30, 'valor': 13.1},
 {'quantil': 31, 'valor': 13.228},
 {'quantil': 32, 'valor': 13.416},
 {'quantil': 33, 'valor': 13.9},
 {'quantil': 34, 'valor': 14.176},
 {'quantil': 35, 'valor': 14.28},
 {'quantil': 36, 'valor': 14.368},
 {'quantil': 37, 'valor': 14.4},
 {'quantil': 38, 'valor': 14.444},
 {'quantil': 39, 'valor': 14.632},
 {'quantil': 40, 'valor': 14.8},
 {'quantil': 41, 'valor': 14.908},
 {'quantil': 42, 'valor': 15.0},
 {'quantil': 43, 'valor': 15.1},
 {'quantil': 44, 'valor': 15.2},
 {'quantil': 45, 'valor': 15.3},
 {'quantil': 46, 'valor': 15.4},
 {'quantil': 47, 'valor': 15.436},
 {'quantil': 48, 'valor': 15.5},
 {'quantil': 49, 'valor': 15.524},
 {'quantil': 50, 'valor': 15.8},
 {'quantil': 51, 'valor': 15.9},
 {'quantil': 52, 'valor': 15.976},
 {'quantil': 53, 'valor': 16.064},
 {'quantil': 54, 'valor': 16.304},
 {'quantil': 55, 'valor': 16.44},
 {'quantil': 56, 'valor': 16.5},
 {'quantil': 57, 'valor': 16.6},
 {'quantil': 57, 'valor': 16.604},
 {'quantil': 59, 'valor': 16.792},
 {'quantil': 60, 'valor': 16.96},
 {'quantil': 61, 'valor': 17.068},
 {'quantil': 62, 'valor': 17.2},
 {'quantil': 63, 'valor': 17.432},
 {'quantil': 64, 'valor': 17.6},
 {'quantil': 65, 'valor': 17.9},
 {'quantil': 66, 'valor': 17.9},
 {'quantil': 67, 'valor': 17.996},
 {'quantil': 68, 'valor': 18.268},
 {'quantil': 69, 'valor': 18.4},
 {'quantil': 70, 'valor': 18.7},
 {'quantil': 71, 'valor': 18.8},
 {'quantil': 72, 'valor': 19.0},
 {'quantil': 73, 'valor': 19.2},
 {'quantil': 74, 'valor': 19.324},
 {'quantil': 75, 'valor': 19.7},
 {'quantil': 76, 'valor': 19.8},
 {'quantil': 77, 'valor': 20.076},
 {'quantil': 78, 'valor': 20.264},
 {'quantil': 79, 'valor': 20.9},
 {'quantil': 80, 'valor': 20.98},
 {'quantil': 81, 'valor': 21.284},
 {'quantil': 82, 'valor': 21.7},
 {'quantil': 83, 'valor': 21.804},
 {'quantil': 84, 'valor': 22.36},
 {'quantil': 85, 'valor': 22.76},
 {'quantil': 86, 'valor': 22.868},
 {'quantil': 87, 'valor': 23.068},
 {'quantil': 88, 'valor': 23.72},
 {'quantil': 89, 'valor': 24.132},
 {'quantil': 90, 'valor': 24.4},
 {'quantil': 91, 'valor': 25.808},
 {'quantil': 92, 'valor': 26.38},
 {'quantil': 93, 'valor': 26.568},
 {'quantil': 94, 'valor': 26.8},
 {'quantil': 95, 'valor': 26.9},
 {'quantil': 96, 'valor': 27.244},
 {'quantil': 97, 'valor': 28.512},
 {'quantil': 98, 'valor': 31.096},
 {'quantil': 99, 'valor': 31.756}]

In [10]:
male_perc = alc_male['FactValueNumeric'].quantile(percentile)
male_perc = pd.DataFrame(male_perc)
male_perc

      FactValueNumeric
0.00             2.400
0.01             3.632
0.02             4.736
0.03             6.884
0.04             8.556
...                ...
0.95            72.140
0.96            74.288
0.97            79.080
0.98            83.032
0.99            88.124

[100 rows x 1 columns]

In [11]:
arr_male_perc = []
for index, row in male_perc.iterrows():
    obj = {
    'quantil': int(row.name * 100),
    'valor': round(row.FactValueNumeric, 3)
    }

    arr_male_perc.append(obj)

In [12]:
jsonString = json.dumps(arr_fem_perc)
jsonFile = open("fem_perc.json", "w")
jsonFile.write(jsonString)
jsonFile.close()

In [13]:
jsonString = json.dumps(arr_male_perc)
jsonFile = open("male_perc.json", "w")
jsonFile.write(jsonString)
jsonFile.close()